@model ShippingDetailsViewModel

<h1>Product List</h1>

<form asp-controller="Cart" asp-action="Complete" method="post">
    <div class="row">
        <div class="col">
            <label asp-for="ShippingDetail.FirstName">Firstname</label>
            <input asp-for="ShippingDetail.FirstName" class="form-control" placeholder="Firstname" />
        </div>
        <div class="col">
            <label asp-for="ShippingDetail.LastName">LastName</label>
            <input asp-for="ShippingDetail.LastName" class="form-control" placeholder="LastName" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.Email">Email</label>
        <input asp-for="ShippingDetail.Email" class="form-control" placeholder="E-mail" />
    </div>
    <div class="row">
        <div class="col">
            <label asp-for="ShippingDetail.Age">Age</label>
            <input asp-for="ShippingDetail.Age" class="form-control" placeholder="Age" />
        </div>
        <div class="col">
            <label asp-for="ShippingDetail.City">City</label>
            <input asp-for="ShippingDetail.City" class="form-control" placeholder="City" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.Address">Address</label>
        <input asp-for="ShippingDetail.Address" class="form-control text-wrap" placeholder="Address" />
    </div>
    <div class="form-group mt-4">
        <input type="checkbox" />
        <label>I am accepting <a href="/Home/Privacy">Privacy</a></label>
    </div>
    <div class="row justify-content-center">
        <input type="submit" class="btn btn-success mt-4 w-25" value="Submit" />
    </div>
</form>